html {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.primary-header {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}
.main-container h3 {
  color: gray;
  font-size: 21px;
}

footer p {
  color: grey;
  text-align: right;
}